@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron image">
    <h1>Book Your Dream Cruise Holiday!</h1>
    <p class="lead">
        You can search through our various cruise holidays available in Asia-Pacific ranging from
        two days to ten days.
    </p>
    <p><a href="~/Cruis" class="btn btn-primary btn-lg">Find more here! &raquo;</a></p>
</div>
<div id="chart_div" style="width:500px;height:400px">
    <%-- Here Chart Will Load --%>
</div>
