@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cruise On</h1>
    <p class="lead">Book your cruise trip now!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Soon! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SOON!!!</h2>
        <p>
            COMING SOON!!!
        </p>
        <p><a class="btn btn-default" href="#">Soon! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SOON!!!</h2>
        <p>COMING SOON!!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Soon! &raquo;</a></p>
    </div>
</div>